@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:ital,wght@0,400;0,700;1,400&family=Dancing+Script:wght@400;600;700&display=swap');
*{
    font-family: 'Dai Banna SIL', serif;
}
p{
    text-shadow: 2px 2px 2px black;
}
#titleCarousel{
    text-shadow: 1px 1px 1px white;
}